*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utilities */
:root{
    --dark-sidebar: #142A40;
    --lighblue: #1B72E8;
    --darkblue: #165BBA;
    --grey: #E5E5E5;
    --lightgrey: #F7F7F7;
    --white: #FFFFFF;
    --orange: #FF8F00;
    --darkorange: #F26551;
    --green: #1C8856;
    --yellow: #FFC107;
    --red: #DC3545;
}


/* header */
header{
    height: 60px;
}

.navbar li{
    list-style: none;
}

.desktop_icons i{
    display: none;
}

.desktop_icons .fa-bell{
    display: inline;
    color: var(--yellow);
}

.form-control {
    background-color: var(--grey);
}

.main{
    overflow-y: auto;
}

#big_container{
    height: calc(100vh - 60px);
}


.sidebar{
    background-color: var(--dark-sidebar);
}

/* jumbotron */
.jumbotron{
    background-color: var(--lighblue);
}

.badge{
    background-color: var(--darkblue);
}

.offcanvas.offcanvas-end{
    width: 500px;
}

.offcanvas .form-control{
    background-color: white;
}

.btn-secondary{
    background-color: var(--yellow);
}

.title{
    background-color: var(--lightgrey);
    border: 1px solid var(--grey);
}

.tabel{
    border: 1px solid var(--grey);
}


/* mediaquery */

@media screen and (min-width:576px) {
    .new_student{
        order: 3;
    }

    .bolean{
        order: 1;
    }

    .online{
        order: 2;
    }

    .row_1,
    .row_2,
    .row_3,
    .row_4,
    .row_5,
    .row_6 {
        display: flex;
    }
       
}

@media screen and (min-width:768px) {
    .mobile_logo{
        display: none;
    }

    .desktop_icons i{
        display: inline;
    }
       
}



@media screen and (max-width:575px) {
    .roi,
    .data{
        display: none;
    }

}

@media screen and (max-width:768px) {
    
    .logo{
        display: none;
    }

    .offcanvas.offcanvas-end{
        width: 100vw;
    }

}